<!DOCTYPE html>
<html lang="en">
<!-- ******* HEAD ******* -->
<%- include("../partials/head.ejs") %>
<!-- ******************** -->
<body>
<!-- ******** NAVBAR PARTIAL ******** -->

<!-- FOR PARTIALS MUST USE includes() FUNCTION -->
<!-- MINUS SIGN DOESNT ESCAPE SPECIAL CHARACTERS AND = DOES SO WITH = WE END UP A STRING VALUE. -->
<%- include("../partials/nav.ejs") %>

<!-- ******************************** -->
    <div class="create-blog content">
        <form action="/blogs" method="POST" >
            <label for="title">Blog title:</label>
            <!-- WILL USE THE NAME PROP TO ACCESS THE PROVIDED DATA ON THE SERVER -->
            <input type="text" id="title" required name="title">

            <label for="snippet">Blog snippet:</label>
            <input type="text" id="snippet" required name="snippet">

            <label for="body">Blog body:</label>
            <textarea type="text" id="body" required name="body"></textarea>

            <button>Submit</button>
        </form>

    </div>
    

        <!-- ******* FOOTER ******* -->
        <%- include("../partials/footer.ejs") %>
        <!-- ********************** -->
</body>
</html>