<nav class="navbar navbar-expand-md bg-body-tertiary container-fluid">
    <div class="container-fluid row">
        <a class="navbar-brand col-sm-2 col-2 " href="/">Simple Blog</a>
        <button class="navbar-toggler col-sm-2 col-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-nowrap col-10 " id="navbarNavAltMarkup">
            <div class="navbar-nav col-12 d-flex justify-content-end">
                <a class="nav-link" href="/blogs">Blogs</a>
                <a class="nav-link" href="/users">All Users</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link col-5 d-flex justify-content-start" href="/blogs/create">Create new a blog</a>
                <a href="/login" class="d-flex justify-content-end" style="text-decoration: none">
                    <button class="btn btn-outline-success me-2 " type="button">Login</button>
                </a>
                <a href="/logout" class=" d-flex justify-content-end" style="text-decoration: none">
                    <button class="btn btn-sm btn-outline-danger" type="button">Logout</button>
                </a>
                <a class="nav-link d-flex justify-content-end" href="/users/create">Signup</a>

            </div>
        </div>
    </div>
</nav>