<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-tittle">
            <a href="/">Blogging Site</a>
            <p>Simple Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create new a blog</a></li>
        </ul>
    </nav>
    <div class="about-content">
        <h2>About US</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus fugit iure, corporis autem tempore culpa, necessitatibus fugiat, facilis ad voluptas nam! Soluta suscipit a nam excepturi sit animi fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus fugit iure, corporis autem tempore culpa, necessitatibus fugiat, facilis ad voluptas nam! Soluta suscipit a nam excepturi sit animi fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus fugit iure, corporis autem tempore culpa, necessitatibus fugiat, facilis ad voluptas nam! Soluta suscipit a nam excepturi sit animi fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus fugit iure, corporis autem tempore culpa, necessitatibus fugiat, facilis ad voluptas nam! Soluta suscipit a nam excepturi sit animi fugiat.</p>

    </div>
    
</body>
</html>