<!DOCTYPE html>
<html lang="en">
<!-- ******* HEAD ******* -->
    <%- include("./partials/head.ejs") %>
<!-- ****************** -->
<body>
<div class="container-fluid">
    <!-- ********* PASSING DATA INTO VIEWS NOTES ******** -->
    <!-- EJS COMMENT TAG IS: <%# %> -->
    <!--   EJS TAG EXAMPLE: <%# const name = "Johnny" %>   -->
    <!--   ^^^ WILL RUN AS JS, BUT ON THE FRONT END, IT WILL DO SO ON THE SERVER -->
    <!--   WHEN OUTPUTTING A VALUE TO THE SCREEN, YOU NEED = SIGN: (SEE TITLE EXAMPLE) -->

<!-- ******** NAVBAR PARTIAL ******** -->

<!-- FOR PARTIALS MUST USE includes() FUNCTION -->
<!-- MINUS SIGN DOESNT ESCAPE SPECIAL CHARACTERS AND = DOES SO WITH = WE END UP A STRING VALUE. -->
<%- include("./partials/nav.ejs") %>

<!-- ******************************** -->


    <div class="content">
        <h2>Welcome to my Blogging Site</h2>
    </div>
    <!-- ******* FOOTER ******* -->
    <%- include("./partials/footer.ejs") %>
    <!-- ********************** -->
</div>
</body>

</html>