<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <nav>
        <div class="site-tittle">
            <a href="/">Blogging Site</a>
            <p>Simple Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create new a blog</a></li>
        </ul>
    </nav>
    <div class="blog-content">
        <h2>All Blogs</h2>
    </div>
    
</body>
</html>