<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Blog | <%= title %></title>
</head>
<body>
    <!-- ********* PASSING DATA INTO VIEWS NOTES ******** -->
    <!-- EJS COMMENT TAG IS: <%# %> -->
    <!--   EJS TAG EXAMPLE: <%# const name = "Johnny" %>   -->
    <!--   ^^^ WILL RUN AS JS, BUT ON THE FRONT END, IT WILL DO SO ON THE SERVER -->
    <!--   WHEN OUTPUTTING A VALUE TO THE SCREEN, YOU NEED = SIGN: (SEE TITLE EXAMPLE) -->


    <nav>
        <div class="site-tittle">
            <a href="/">Blogging Site</a>
            <p>Simple Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create new a blog</a></li>
        </ul>
    </nav>
    <div class="blog-content">
        <h2>All Blogs</h2>
    </div>
    
</body>
</html>