<!DOCTYPE html>
<html lang="en">

<!-- ******* HEAD ******* -->
    <%- include("../partials/head.ejs") %>
<!-- ****************** -->

<body>

<!-- ******** NAVBAR PARTIAL ******** -->
<%- include("../partials/nav.ejs") %>
<!-- ******************************** -->


    <div class="blogs content">
        <h2>User Profile Page.</h2>

    
    </div>
    <!-- ******* FOOTER ******* -->
    <%- include("../partials/footer.ejs") %>
    <!-- ********************** -->
</body>
</html>